# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\oop\laptrinhhuongdoituong\QuanLyShopSHIN_18133050_18110371\QuanLyShopSHIN_Java\QuanLyShopSHIN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
